// Pages
@import './index';


// Components
@import './header';


@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', 'Helvetica' !important;
}
.self-typed {
  font-size: 35px;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}

.absolute {
  position: absolute;
}

